{% extends "base.html" %}

{% block content %}
	<li><a href="/">Home</a></li>
	<li><a href="/SampleList">View Samples</a></li>
	<li><a href="/ProjectList">View Projects</a></li>
	<li><a href="/Variables">View Variables</a></li>
	<li><a href="/AttributeInfo">Filter on variables</a></li>
	<li><a href="/ProfileInfo">Filter on profile</a></li>
	<li><a href="/SearchVariable">Search samples on variables criteria</a></li>
	<li><a href="/SearchProfile">Search samples on profile criteria</a></li>
 
<form action="" method="post">{% csrf_token %}
	<label><h2>Choose Attribute for Comparison:</h2></label>
    {{ form.variables }}
	<label><h2>Choose Comparator:</h2></label>
    {{ form.comparison}}
	<label><h2>Choose Value:</h2></label>
    {{ form.values}}
	<p></p>
	<input type="submit" value="Submit" />
	<br><br>
	
	{% if message %}
		<h1>Results</h1>
        {% if condition %}
			<p>{{ message }} <b>{{ condition }}</b></p>
	    {% else %}
			<p>{{ message }}</p>
        {% endif %}
    {% endif %}
</form>

{% if sample_list %}
<style>
table,th,td
{
border:2px solid black;
}
</style>

<table align="left">
    <tr>
        <th>Sample Name - Variable name</th>
	</tr>	
	
{% if sample_list %}
    {% for sample in sample_list %}
	<tr>
        <td>{{ sample }} </td>
	</tr>	
    {% endfor %}
{% endif %}
{% endif %}
{% endblock %}