{% extends "base.html" %}

{% block content %}

<br />
<h3>Samples:</h3>

<table style="width:750px">

	<tr>
	<td><b>Project Name</b></td>
	<td><b>Sample Name</b></td>
	<td><b>Sample Info</b></td>
	<td><b>Profile</b></td>
	</tr>


{% for sample in sample_list %}
	<tr>
	<td>{{sample.project.name}}</td>
	<td>{{sample.name}}</td>
	<td><a href="/listSample/{{sample.name}}_info/">View</a></td>
	<td><a href="/listSample/{{sample.name}}_profile/">View</a></td>
	</tr>
{% endfor %}


</table>
<br />
<a href="/"><b>Back</b></a>
<br />

{% endblock %}
