{% extends "base.html" %}

{% block content %}

<br />
<h3>Sample Profile:</h3>

<b>Sample Name:	{{samplename}}</b>
<br />
<br />

<table style="width:1000px">

	<tr>
	<td><b>Classification Method</b></td>
	<td><b>Taxa Level</b></td>
	<td><b>Taxa Name</b></td>
	<td><b>Num of Reads</b></td>
	<td><b>Perc of Total</b></td>
	<td><b>Avg Score</b></td>
	</tr>


{% for ps in PS_list %}
	<tr>
	<td>{{ps.classificationmethod.name}}</td>
	<td>{{ps.taxaID.level}}</td>
	<td>{{ps.taxaID.name}}</td>
	<td>{{ps.numreads}}</td>
	<td>{{ps.perctotal}}</td>
	<td>{{ps.avgscore}}</td>
	</tr>
{% endfor %}

</table>
<br />
<a href="/listSample"><b>Back</b></a>
<br />

{% endblock %}
