{% extends "base.html" %}

{% block content %}


{% if OutputDict %}

	<br />
	<br />
	<h3>Sample Variables - Search Results:</h3>
	<br />
	<br />

	<table style="width:750px">

	<tr>
	<th>Sample</th>
	{% for sv_header in sv_instance_list %}
		<th>{{ sv_header }}</th>
	{% endfor %}
	</tr>
	

	{% for key,value in OutputDict %}
	<tr>
		<td>{{ key }}</td>
		{% for value2 in value %}
			<td>{{ value2 }}</td>
		{% endfor %}
	</tr>
	{% endfor %}

	</table>

{% else %}

	<br />
	<h3>Search Sample Variables:</h3>
	
	<br />
	<br />
	<b>Please make your selections:</b>
	<br />
	<br />
	<form id= "search_sample_var" action="" method="post">
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	<p>Fields marked with * are required</p>
	*Sample(s): {{form.sample}}
	<br />
	<br />
	 Sample Variable(s): {{form.samplevariable}}
	<br />
	<br />
	<input type="submit" Value="Submit" />
	</form>


{% endif %}
	

<br />
<br />
<a href="/SearchSampleVar"><b>New Search</b></a>
<br />

{% endblock %}
