{% extends "base.html" %}

{% block content %}


{% if ps_list %}

	<br />
	<br />
	<h3>Sample Profile - Search Results:</h3>
	<br />
	<br />

	<table style="width:750px">

	<tr>
	<th>Sample</th>
	<th>Classification Method</th>
	<th>Taxa Level</th>
	<th>Taxa Name</th>
	{% for attr in attr_instance_list %}
		{% if attr == 'numreads' %}
			<th>Number of Reads</th>
		{% elif attr == 'perctotal' %}
			<th>Percentage of Total</th>
		{% elif attr == 'avgscore' %}
			<th>Average Score</th>
		{% endif %}
	{% endfor %}
	</tr>
	

	{% for ps in ps_list %}
	<tr>
		<td>{{ ps.sample.name }}</td>
		<td>{{ ps.classificationmethod.name }}</td>
		<td>{{ ps.taxaID.level }}</td>
		<td>{{ ps.taxaID.name }}</td>
		{% for attr in attr_instance_list %}
			{% if attr == 'numreads' %}
				<td>{{ ps.numreads }}</td>
			{% elif attr == 'perctotal' %}
				<td>{{ ps.perctotal }}</td>
			{% elif attr == 'avgscore' %}
				<td>{{ ps.avgscore }}</td>
			{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}

	</table>

{% else %}

	<br />
	<h3>Search Sample Profile:</h3>
	
	<br />
	<br />
	<b>Please make your selections:</b>
	<br />
	<br />
	<form id= "search_sample_profile" action="" method="post">
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	<p>Fields marked with * are required</p>
	*Sample(s): {{form.sample}}
	<br />
	<br />
	 Classification Method: {{form.classificationmethod}}
	<br />
	<br />
	 Taxonomy Level: {{form.taxalevel}}
	<br />
	<br />
	 Attribute: {{form.attribute}}
	<br />
	<br />
	<input type="submit" Value="Submit" />
	</form>


{% endif %}
	

<br />
<br />
<a href="/SearchSampleVar"><b>New Search</b></a>
<br />

{% endblock %}
