<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'MicrobiomeExplorer/styles.css' %}" />
	<title>{% block title %}Microbiome Explorer{% endblock %}</title>
</head>

<body>

	<br />
	<h1>Microbiome Explorer</h1>
	<br />

	<div class="menubar">
		{% block sidebar %}
		<ul>
			<li><a href="/">Home</a></li>	
			<li><a href="/listProject">Projects</a></li>	
			<li><a href="/listSample">Samples</a></li>	
			<li><a href="/Search">Search</a></li>	
		</ul>
		<br />
		<br />
		<hr />
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>
